In [1]:
import pandas as pd
import numpy as np

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

## 신한 카드 데이터

In [3]:
df_card = pd.read_csv('/content/drive/MyDrive/KHUDA/1기/컨퍼런스/KHUDA_conference/data/신한및skt데이터/카드데이터/NATIVE(2018.1_2022.4).txt', sep = '|')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (6) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [4]:
df_card.head()

,v1,v2,v3,gb3,gb2,sex_ccd,cln_age_r,ta_ym,daw_ccd_r,apv_ts_dl_tm_r,vlm,usec
0,세종,세종,.,취미오락,종합쇼핑,F,30,202108,WHITE,휴식,325008700,12639
1,세종,세종,.,취미오락,종합쇼핑,M,30,202112,WHITE,휴식,599872600,20805
2,서울,세종,.,취미오락,종합쇼핑,F,50,202106,WHITE,활동,30363400,1075
3,부산,세종,.,취미오락,외식,F,30,202201,WHITE,활동,6028600,428
4,서울,세종,.,취미오락,인터넷게임,F,20,202108,WHITE,활동,630200,182

In [5]:
df_card = df_card[df_card['gb3'] == '여행']
df_card.head()

,v1,v2,v3,gb3,gb2,sex_ccd,cln_age_r,ta_ym,daw_ccd_r,apv_ts_dl_tm_r,vlm,usec
27,부산,부산,남구,여행,숙박,F,20,202112,WHITE,휴식,3002100,78
47,대전,대전,동구,여행,교통,M,60,202201,WHITE,활동,159392300,9935
51,경기,대전,동구,여행,교통,M,30,202204,WHITE,휴식,929706300,32159
52,경기,대전,동구,여행,교통,M,20,202204,WHITE,활동,1256704100,59518
53,전남,대전,동구,여행,교통,F,20,202112,WHITE,활동,342682500,11832

In [6]:
# idx = df_card[df_card['v2'] == '서울'].index
# df_card = df_card.drop(idx)
# df_card

In [7]:
idx = df_card[df_card['apv_ts_dl_tm_r'] == '취침'].index
df_card = df_card.drop(idx)
df_card

,v1,v2,v3,gb3,gb2,sex_ccd,cln_age_r,ta_ym,daw_ccd_r,apv_ts_dl_tm_r,vlm,usec
27,부산,부산,남구,여행,숙박,F,20,202112,WHITE,휴식,3002100,78
47,대전,대전,동구,여행,교통,M,60,202201,WHITE,활동,159392300,9935
51,경기,대전,동구,여행,교통,M,30,202204,WHITE,휴식,929706300,32159
52,경기,대전,동구,여행,교통,M,20,202204,WHITE,활동,1256704100,59518
53,전남,대전,동구,여행,교통,F,20,202112,WHITE,활동,342682500,11832
...,...,...,...,...,...,...,...,...,...,...,...,...
50905030,경기,인천,미추홀구,여행,숙박,F,40,201812,RED,활동,603600,20
50905051,경남,제주,서귀포시,여행,숙박,M,50,201812,RED,활동,34155058,110
50905106,인천,서울,영등포구,여행,숙박,F,50,201812,RED,활동,4959580,35
50905120,경기,경기,의정부시,여행,숙박,M,50,201812,WHITE,휴식,14214780,301
50905122,서울,부산,해운대구,여행,숙박,F,20,201812,RED,활동,84834149,608

In [8]:
df_card_region_v1 = df_card[(df_card['v1'] == '세종') | (df_card['v1'] == '전남') | (df_card['v1'] == '충북') | (df_card['v1'] == '제주') | 
                         (df_card['v1'] == '경기') | (df_card['v1'] == '경북') | (df_card['v1'] == '대구') | (df_card['v1'] == '서울')]

In [9]:
df_card_region_v2 = df_card[(df_card['v2'] == '세종') | (df_card['v2'] == '전남') | (df_card['v2'] == '충북') | (df_card['v2'] == '제주') | 
                         (df_card['v2'] == '경기') | (df_card['v2'] == '경북') | (df_card['v2'] == '대구') | (df_card['v2'] == '서울')]

In [10]:
df_card_region_v2_gb = df_card_region_v2[df_card_region_v2['v2'] == '경북']
df_card_region_v2_cb = df_card_region_v2[df_card_region_v2['v2'] == '충북']

In [15]:
df_card_region_v2[df_card_region_v2['gb2'] == '여행사']

,v1,v2,v3,gb3,gb2,sex_ccd,cln_age_r,ta_ym,daw_ccd_r,apv_ts_dl_tm_r,vlm,usec
317,서울,서울,강남구,여행,여행사,M,50,202201,RED,활동,5431900,103
1056,서울,서울,서초구,여행,여행사,F,60,202111,WHITE,활동,9041200,103
2501,경기,서울,중구,여행,여행사,M,50,202203,WHITE,활동,80460000,199
2513,부산,서울,중구,여행,여행사,M,30,202106,WHITE,활동,13482100,286
2537,세종,서울,중구,여행,여행사,M,50,202111,RED,활동,1648200,5
...,...,...,...,...,...,...,...,...,...,...,...,...
50903071,충남,전남,해남군,여행,여행사,F,30,201812,WHITE,활동,65390,5
50903075,경북,전남,해남군,여행,여행사,F,50,201812,RED,활동,100600,5
50903081,전북,전남,해남군,여행,여행사,F,40,201812,WHITE,활동,75450,5
50903654,울산,서울,중구,여행,여행사,F,50,201812,RED,활동,2518018,593
50904327,경북,서울,서초구,여행,여행사,F,60,201812,RED,활동,1595516,25

In [23]:
df_card_region_v2[(df_card_region_v2['v2'] == '경기') & (df_card_region_v2['gb2'] == '숙박')]

,v1,v2,v3,gb3,gb2,sex_ccd,cln_age_r,ta_ym,daw_ccd_r,apv_ts_dl_tm_r,vlm,usec
653,경기,경기,군포시,여행,숙박,M,40,202202,WHITE,휴식,16702000,339
968,경기,경기,부천시,여행,숙박,M,20,202203,WHITE,휴식,31652500,848
1218,경기,경기,수원시,여행,숙박,M,40,202110,RED,휴식,52306900,884
1286,서울,경기,안산시,여행,숙박,M,40,202204,RED,활동,14387300,133
1369,서울,경기,여주시,여행,숙박,F,50,202204,RED,활동,3532900,56
...,...,...,...,...,...,...,...,...,...,...,...,...
50904015,경기,경기,군포시,여행,숙박,F,50,201812,WHITE,활동,2882190,70
50904345,강원,경기,성남시,여행,숙박,M,20,201812,RED,휴식,5266410,90
50904522,경기,경기,안양시,여행,숙박,M,40,201812,WHITE,활동,17251290,508
50904978,경기,경기,화성시,여행,숙박,F,60,201812,WHITE,활동,7211702,165
50905120,경기,경기,의정부시,여행,숙박,M,50,201812,WHITE,휴식,14214780,301

In [27]:
df_card_region_v2[(df_card_region_v2['v2'] == '경기') & (df_card_region_v2['cln_age_r'] == '50')]

,v1,v2,v3,gb3,gb2,sex_ccd,cln_age_r,ta_ym,daw_ccd_r,apv_ts_dl_tm_r,vlm,usec
48431795,경기,경기,광명시,여행,숙박,M,50,201810,WHITE,휴식,16139840,302
48432148,인천,경기,김포시,여행,숙박,M,50,201810,RED,활동,2891680,114
48433095,경남,경기,안산시,여행,숙박,M,50,201810,WHITE,활동,1140800,14
48433301,서울,경기,연천군,여행,숙박,M,50,201810,WHITE,휴식,1240000,19
48435786,경기,경기,구리시,여행,숙박,M,50,201810,WHITE,활동,5300876,208
...,...,...,...,...,...,...,...,...,...,...,...,...
48494048,서울,경기,남양주시,여행,숙박,M,50,201810,WHITE,휴식,8010400,193
48495132,경기,경기,고양시,여행,숙박,M,50,201810,WHITE,활동,46410774,818
48495243,경기,경기,광명시,여행,숙박,M,50,201810,WHITE,활동,7861600,153
48496030,경기,경기,부천시,여행,숙박,F,50,201810,WHITE,활동,3119840,84
48496485,경기,경기,시흥시,여행,숙박,M,50,201810,WHITE,휴식,29410320,719

In [13]:
df_card_region_v2_cb[df_card_region_v2_cb['gb2'] == '여행사']

,v1,v2,v3,gb3,gb2,sex_ccd,cln_age_r,ta_ym,daw_ccd_r,apv_ts_dl_tm_r,vlm,usec
101598,충북,충북,청주시,여행,여행사,F,50,202109,WHITE,활동,1520800,5
201693,충북,충북,증평군,여행,여행사,M,50,202106,WHITE,활동,5000,5
325381,충북,충북,청주시,여행,여행사,M,50,202112,RED,휴식,5685800,5
533541,충북,충북,청주시,여행,여행사,M,20,202203,WHITE,활동,5100,5
614598,충북,충북,청주시,여행,여행사,F,40,202204,WHITE,활동,20500,10
...,...,...,...,...,...,...,...,...,...,...,...,...
50802919,경기,충북,청주시,여행,여행사,M,20,201812,WHITE,활동,1031653,40
50818910,서울,충북,청주시,여행,여행사,F,20,201812,WHITE,활동,214781,5
50835231,전북,충북,청주시,여행,여행사,F,50,201812,WHITE,활동,6237200,5
50875192,충북,충북,청주시,여행,여행사,M,30,201812,WHITE,활동,24161605,75
50887636,충북,충북,청주시,여행,여행사,M,50,201812,WHITE,활동,8450400,25

In [ ]:
df_card_region_v2[df_card_region_v2['v2'] == '충북']

,v1,v2,v3,gb3,gb2,sex_ccd,cln_age_r,ta_ym,daw_ccd_r,apv_ts_dl_tm_r,vlm,usec
1816,서울,충북,청주시,여행,숙박,M,40,202203,WHITE,활동,15955100,235
1822,충북,충북,청주시,여행,숙박,F,50,202203,WHITE,휴식,16880300,291
3034,충북,충북,괴산군,여행,숙박,M,30,202110,RED,활동,7853300,300
3341,강원,충북,단양군,여행,체험,M,50,202109,RED,활동,584000,56
4539,충북,충북,제천시,여행,숙박,M,20,202106,RED,활동,3845900,116
...,...,...,...,...,...,...,...,...,...,...,...,...
50902798,대전,충북,충주시,여행,체험,F,40,201812,RED,활동,20120,5
50902806,충북,충북,충주시,여행,체험,F,50,201812,WHITE,휴식,120720,5
50902811,경기,충북,충주시,여행,체험,M,40,201812,WHITE,휴식,452700,5
50904846,충북,충북,청주시,여행,숙박,F,20,201812,RED,휴식,42420505,1011
50904861,충북,충북,청주시,여행,체험,M,30,201812,RED,활동,19032011,1282

In [ ]:
df_card_region_jeon = df_card_region_v2[df_card_region_v2['v2'] == '전남']
df_card_region_sae = df_card_region_v2[df_card_region_v2['v2'] == '세종']
df_card_region_chung = df_card_region_v2[df_card_region_v2['v2'] == '충북']
df_card_region_je = df_card_region_v2[df_card_region_v2['v2'] == '제주']

df_card_region_gg = df_card_region_v2[df_card_region_v2['v2'] == '경기']
df_card_region_gb = df_card_region_v2[df_card_region_v2['v2'] == '경북']
df_card_region_dg = df_card_region_v2[df_card_region_v2['v2'] == '대구']
df_card_region_su = df_card_region_v2[df_card_region_v2['v2'] == '서울']

In [ ]:
df_card_region_same_jeon = df_card_region_jeon[df_card_region_jeon['v1'] == df_card_region_jeon['v2']]
df_card_region_same_sae = df_card_region_sae[df_card_region_sae['v1'] == df_card_region_sae['v2']]
df_card_region_same_chung = df_card_region_chung[df_card_region_chung['v1'] == df_card_region_chung['v2']]
df_card_region_same_je = df_card_region_je[df_card_region_je['v1'] == df_card_region_je['v2']]

df_card_region_same_gg = df_card_region_gg[df_card_region_gg['v1'] == df_card_region_gg['v2']]
df_card_region_same_gb = df_card_region_gb[df_card_region_gb['v1'] == df_card_region_gb['v2']]
df_card_region_same_dg = df_card_region_dg[df_card_region_dg['v1'] == df_card_region_dg['v2']]
df_card_region_same_su = df_card_region_su[df_card_region_su['v1'] == df_card_region_su['v2']]

In [ ]:
df_card_region_diff_jeon = df_card_region_jeon[df_card_region_jeon['v1'] != df_card_region_jeon['v2']]
df_card_region_diff_sae = df_card_region_sae[df_card_region_sae['v1'] != df_card_region_sae['v2']]
df_card_region_diff_chung = df_card_region_chung[df_card_region_chung['v1'] != df_card_region_chung['v2']]
df_card_region_diff_je = df_card_region_je[df_card_region_je['v1'] != df_card_region_je['v2']]

df_card_region_diff_gg = df_card_region_gg[df_card_region_gg['v1'] != df_card_region_gg['v2']]
df_card_region_diff_gb = df_card_region_gb[df_card_region_gb['v1'] != df_card_region_gb['v2']]
df_card_region_diff_dg = df_card_region_dg[df_card_region_dg['v1'] != df_card_region_dg['v2']]
df_card_region_diff_su = df_card_region_su[df_card_region_su['v1'] != df_card_region_su['v2']]

In [ ]:
df_card_region_same_jeon[['v1', 'v2', 'gb3', 'gb2']]

          v1  v2 gb3  gb2
912       전남  전남  여행   숙박
1351      전남  전남  여행   숙박
1352      전남  전남  여행   숙박
1354      전남  전남  여행   체험
2985      전남  전남  여행   교통
...       ..  ..  ..  ...
50897136  전남  전남  여행   숙박
50897380  전남  전남  여행  여행사
50898124  전남  전남  여행   숙박
50898449  전남  전남  여행   숙박
50899166  전남  전남  여행   체험

[62706 rows x 4 columns]

In [ ]:
df_card_region_diff_jeon[['v1', 'v2', 'gb3', 'gb2']]

          v1  v2 gb3 gb2
794       광주  전남  여행  체험
1353      부산  전남  여행  숙박
1388      전북  전남  여행  숙박
1406      대구  전남  여행  숙박
1448      부산  전남  여행  체험
...       ..  ..  ..  ..
50903082  전북  전남  여행  숙박
50903136  대전  전남  여행  숙박
50903138  인천  전남  여행  숙박
50903147  경기  전남  여행  숙박
50904574  서울  전남  여행  숙박

[382102 rows x 4 columns]

In [ ]:
 print(df_card_region_same_jeon.count().nlargest(1), '\n')
print(df_card_region_same_sae.count().nlargest(1), '\n')
print(df_card_region_same_chung.count().nlargest(1), '\n')
print(df_card_region_same_je.count().nlargest(1), '\n')

print(df_card_region_same_gg.count().nlargest(1), '\n')
print(df_card_region_same_gb.count().nlargest(1), '\n')
print(df_card_region_same_dg.count().nlargest(1), '\n')
print(df_card_region_same_su.count().nlargest(1), '\n')

v1    62706
dtype: int64

v1    3467
dtype: int64

v1    36829
dtype: int64

v1    15105
dtype: int64

v1    155543
dtype: int64

v1    69057
dtype: int64

v1    35545
dtype: int64

v1    148109
dtype: int64

In [ ]:
print(df_card_region_diff_jeon.count().nlargest(1), '\n')
print(df_card_region_diff_sae.count().nlargest(1), '\n')
print(df_card_region_diff_chung.count().nlargest(1), '\n')
print(df_card_region_diff_je.count().nlargest(1), '\n')

print(df_card_region_diff_gg.count().nlargest(1), '\n')
print(df_card_region_diff_gb.count().nlargest(1), '\n')
print(df_card_region_diff_dg.count().nlargest(1), '\n')
print(df_card_region_diff_su.count().nlargest(1), '\n')

v2    382102
dtype: int64

v2    15167
dtype: int64

v2    187324
dtype: int64

v2    206496
dtype: int64

v2    625534
dtype: int64

v2    377424
dtype: int64

v2    143573
dtype: int64

v2    819703
dtype: int64

In [ ]:
# (local -> local) / (외부 -> local) 여행 데이터 기준
print('전남:',62706 / 382102 , '\n')
print('세종:',3467 / 15167 , '\n')
print('충북:',36829 / 187324 , '\n')
print('제주:',15105 / 206496 , '\n')

print('경기:',155543 / 625534 , '\n')
print('경북:',69057 / 377424 , '\n')
print('대구:',35545 / 143573 , '\n')
print('서울:',148109 / 819703 , '\n')

전남: 0.16410801304363756

세종: 0.2285883826729083

충북: 0.19660588072003587

제주: 0.07314911668991167

경기: 0.2486563480162549

경북: 0.18296928653185807

대구: 0.24757440465825747

서울: 0.180686175358636

In [ ]:
print(df_card_region_same_jeon[df_card_region_same_jeon['gb2'] == '체험'].count().nlargest(1))
print(df_card_region_same_sae[df_card_region_same_sae['gb2'] == '체험'].count().nlargest(1))
print(df_card_region_same_chung[df_card_region_same_chung['gb2'] == '체험'].count().nlargest(1))
print(df_card_region_same_je[df_card_region_same_je['gb2'] == '체험'].count().nlargest(1))

print(df_card_region_same_gg[df_card_region_same_gg['gb2'] == '체험'].count().nlargest(1))
print(df_card_region_same_gb[df_card_region_same_gb['gb2'] == '체험'].count().nlargest(1))
print(df_card_region_same_dg[df_card_region_same_dg['gb2'] == '체험'].count().nlargest(1))
print(df_card_region_same_su[df_card_region_same_su['gb2'] == '체험'].count().nlargest(1))

v1    16234
dtype: int64
v1    1166
dtype: int64
v1    10337
dtype: int64
v1    3297
dtype: int64
v1    47141
dtype: int64
v1    20284
dtype: int64
v1    10956
dtype: int64
v1    35335
dtype: int64

In [ ]:
print(df_card_region_diff_jeon[df_card_region_diff_jeon['gb2'] == '체험'].count().nlargest(1))
print(df_card_region_diff_sae[df_card_region_diff_sae['gb2'] == '체험'].count().nlargest(1))
print(df_card_region_diff_chung[df_card_region_diff_chung['gb2'] == '체험'].count().nlargest(1))
print(df_card_region_diff_je[df_card_region_diff_je['gb2'] == '체험'].count().nlargest(1))

print(df_card_region_diff_gg[df_card_region_diff_gg['gb2'] == '체험'].count().nlargest(1))
print(df_card_region_diff_gb[df_card_region_diff_gb['gb2'] == '체험'].count().nlargest(1))
print(df_card_region_diff_dg[df_card_region_diff_dg['gb2'] == '체험'].count().nlargest(1))
print(df_card_region_diff_su[df_card_region_diff_su['gb2'] == '체험'].count().nlargest(1))

v2    87970
dtype: int64
v2    2417
dtype: int64
v2    46019
dtype: int64
v2    35931
dtype: int64
v2    116836
dtype: int64
v2    85926
dtype: int64
v2    22468
dtype: int64
v2    84167
dtype: int64

In [ ]:
# 지역축제보다는 local, 외부유입 타겟
print('전남:',16234 / 87970 , '\n')
print('세종:',1166 / 2417 , '\n') # -> 외부 사람들이 유입이 잘 안 되니 local
print('충북:',10337 / 46019 , '\n')
print('제주:',3297 / 35931 , '\n') # -> 외부 유입이 많이 되니 초점 맞추자

print('경기:',47141 / 116836 , '\n')
print('경북:',20284 / 85926 , '\n')
print('대구:',10956 / 22468 , '\n')
print('서울:',35335 / 84167 , '\n')

전남: 0.18454018415368875

세종: 0.4824162184526272

충북: 0.22462461157348051

제주: 0.09175920514319112

경기: 0.403480091752542

경북: 0.23606358960035378

대구: 0.4876268470713904

서울: 0.4198201195242791

In [ ]:
df_card_region_v1

,v1,v2,v3,gb3,gb2,sex_ccd,cln_age_r,ta_ym,daw_ccd_r,apv_ts_dl_tm_r,vlm,usec
51,경기,대전,동구,여행,교통,M,30,202204,WHITE,휴식,929706300,32159
52,경기,대전,동구,여행,교통,M,20,202204,WHITE,활동,1256704100,59518
53,전남,대전,동구,여행,교통,F,20,202112,WHITE,활동,342682500,11832
55,세종,대전,동구,여행,교통,F,40,202204,WHITE,활동,199911100,9791
59,경기,대전,동구,여행,교통,M,60,202201,RED,활동,281090300,11772
...,...,...,...,...,...,...,...,...,...,...,...,...
50904909,서울,강원,평창군,여행,숙박,M,30,201812,RED,활동,219440047,4572
50904978,경기,경기,화성시,여행,숙박,F,60,201812,WHITE,활동,7211702,165
50905030,경기,인천,미추홀구,여행,숙박,F,40,201812,RED,활동,603600,20
50905120,경기,경기,의정부시,여행,숙박,M,50,201812,WHITE,휴식,14214780,301
50905122,서울,부산,해운대구,여행,숙박,F,20,201812,RED,활동,84834149,608

In [ ]:
df_card_region_jeon = df_card_region_v1[df_card_region_v1['v1'] == '전남']
df_card_region_sae = df_card_region_v1[df_card_region_v1['v1'] == '세종']
df_card_region_chung = df_card_region_v1[df_card_region_v1['v1'] == '충북']
df_card_region_je = df_card_region_v1[df_card_region_v1['v1'] == '제주']

df_card_region_gg = df_card_region_v1[df_card_region_v1['v1'] == '경기']
df_card_region_gb = df_card_region_v1[df_card_region_v1['v1'] == '경북']
df_card_region_dg = df_card_region_v1[df_card_region_v1['v1'] == '대구']
df_card_region_su = df_card_region_v1[df_card_region_v1['v1'] == '서울']

In [ ]:
df_card_region_gg

,v1,v2,v3,gb3,gb2,sex_ccd,cln_age_r,ta_ym,daw_ccd_r,apv_ts_dl_tm_r,vlm,usec
51,경기,대전,동구,여행,교통,M,30,202204,WHITE,휴식,929706300,32159
52,경기,대전,동구,여행,교통,M,20,202204,WHITE,활동,1256704100,59518
59,경기,대전,동구,여행,교통,M,60,202201,RED,활동,281090300,11772
77,경기,광주,동구,여행,숙박,M,30,202202,RED,활동,259300,20
96,경기,대구,동구,여행,숙박,F,30,202203,RED,활동,1184900,31
...,...,...,...,...,...,...,...,...,...,...,...,...
50904744,경기,제주,제주시,여행,교통,M,20,201812,WHITE,활동,788914339,4436
50904756,경기,제주,제주시,여행,숙박,M,40,201812,WHITE,활동,143215286,1187
50904978,경기,경기,화성시,여행,숙박,F,60,201812,WHITE,활동,7211702,165
50905030,경기,인천,미추홀구,여행,숙박,F,40,201812,RED,활동,603600,20
50905120,경기,경기,의정부시,여행,숙박,M,50,201812,WHITE,휴식,14214780,301

In [ ]:
df_card_region_jeon

,v1,v2,v3,gb3,gb2,sex_ccd,cln_age_r,ta_ym,daw_ccd_r,apv_ts_dl_tm_r,vlm,usec
53,전남,대전,동구,여행,교통,F,20,202112,WHITE,활동,342682500,11832
912,전남,전남,무안군,여행,숙박,M,40,202202,RED,휴식,1736300,46
1106,전남,경기,성남시,여행,교통,F,20,202203,WHITE,휴식,3424100,475
1351,전남,전남,여수시,여행,숙박,M,40,202201,WHITE,휴식,31012300,444
1352,전남,전남,여수시,여행,숙박,M,60,202110,WHITE,휴식,16851500,109
...,...,...,...,...,...,...,...,...,...,...,...,...
50902663,전남,경남,창원시,여행,체험,F,50,201812,WHITE,활동,90540,10
50902670,전남,경남,창원시,여행,체험,M,30,201812,WHITE,활동,27665,5
50903373,전남,경기,의정부시,여행,숙박,F,50,201812,RED,휴식,276650,5
50903449,전남,대전,동구,여행,교통,F,40,201812,RED,휴식,90598851,3631
50903857,전남,경기,고양시,여행,체험,F,30,201812,WHITE,활동,57845,15

In [ ]:
df_card_region_same_jeon = df_card_region_jeon[df_card_region_jeon['v1'] == df_card_region_jeon['v2']]
df_card_region_same_sae = df_card_region_sae[df_card_region_sae['v1'] == df_card_region_sae['v2']]
df_card_region_same_chung = df_card_region_chung[df_card_region_chung['v1'] == df_card_region_chung['v2']]
df_card_region_same_je = df_card_region_je[df_card_region_je['v1'] == df_card_region_je['v2']]

df_card_region_same_gg = df_card_region_gg[df_card_region_gg['v1'] == df_card_region_gg['v2']]
df_card_region_same_gb = df_card_region_gb[df_card_region_gb['v1'] == df_card_region_gb['v2']]
df_card_region_same_dg = df_card_region_dg[df_card_region_dg['v1'] == df_card_region_dg['v2']]
df_card_region_same_su = df_card_region_su[df_card_region_su['v1'] == df_card_region_su['v2']]

In [ ]:
df_card_region_diff_jeon = df_card_region_jeon[df_card_region_jeon['v1'] != df_card_region_jeon['v2']]
df_card_region_diff_sae = df_card_region_sae[df_card_region_sae['v1'] != df_card_region_sae['v2']]
df_card_region_diff_chung = df_card_region_chung[df_card_region_chung['v1'] != df_card_region_chung['v2']]
df_card_region_diff_je = df_card_region_je[df_card_region_je['v1'] != df_card_region_je['v2']]

df_card_region_diff_gg = df_card_region_gg[df_card_region_gg['v1'] != df_card_region_gg['v2']]
df_card_region_diff_gb = df_card_region_gb[df_card_region_gb['v1'] != df_card_region_gb['v2']]
df_card_region_diff_dg = df_card_region_dg[df_card_region_dg['v1'] != df_card_region_dg['v2']]
df_card_region_diff_su = df_card_region_su[df_card_region_su['v1'] != df_card_region_su['v2']]

In [ ]:
df_card_region_diff_jeon

,v1,v2,v3,gb3,gb2,sex_ccd,cln_age_r,ta_ym,daw_ccd_r,apv_ts_dl_tm_r,vlm,usec
53,전남,대전,동구,여행,교통,F,20,202112,WHITE,활동,342682500,11832
1106,전남,경기,성남시,여행,교통,F,20,202203,WHITE,휴식,3424100,475
2298,전남,광주,동구,여행,체험,M,30,202202,RED,활동,212700,5
2503,전남,대구,중구,여행,숙박,F,20,202110,RED,휴식,417200,5
4291,전남,경기,용인시,여행,관광쇼핑,M,40,202107,WHITE,활동,67600,5
...,...,...,...,...,...,...,...,...,...,...,...,...
50902663,전남,경남,창원시,여행,체험,F,50,201812,WHITE,활동,90540,10
50902670,전남,경남,창원시,여행,체험,M,30,201812,WHITE,활동,27665,5
50903373,전남,경기,의정부시,여행,숙박,F,50,201812,RED,휴식,276650,5
50903449,전남,대전,동구,여행,교통,F,40,201812,RED,휴식,90598851,3631
50903857,전남,경기,고양시,여행,체험,F,30,201812,WHITE,활동,57845,15

In [ ]:
print('전남', '\n', df_card_region_same_jeon[df_card_region_same_jeon['gb2'] == '체험'].value_counts('v2').nlargest(5), '\n')
print('세종', '\n', df_card_region_same_sae[df_card_region_same_sae['gb2'] == '체험'].value_counts('v2').nlargest(5), '\n')
print('충북', '\n', df_card_region_same_chung[df_card_region_same_chung['gb2'] == '체험'].value_counts('v2').nlargest(5), '\n')
print('제주', '\n', df_card_region_same_je[df_card_region_same_je['gb2'] == '체험'].value_counts('v2').nlargest(5), '\n')

print('경기', '\n', df_card_region_same_gg[df_card_region_same_gg['gb2'] == '체험'].value_counts('v2').nlargest(5), '\n')
print('경북', '\n', df_card_region_same_gb[df_card_region_same_gb['gb2'] == '체험'].value_counts('v2').nlargest(5), '\n')
print('대구', '\n', df_card_region_same_dg[df_card_region_same_dg['gb2'] == '체험'].value_counts('v2').nlargest(5), '\n')
print('서울', '\n', df_card_region_same_su[df_card_region_same_su['gb2'] == '체험'].value_counts('v2').nlargest(5), '\n')

전남
 v2
전남    16234
dtype: int64

세종
 v2
세종    1166
dtype: int64

충북
 v2
충북    10337
dtype: int64

제주
 v2
제주    3297
dtype: int64

경기
 v2
경기    47141
dtype: int64

경북
 v2
경북    20284
dtype: int64

대구
 v2
대구    10956
dtype: int64

서울
 Series([], dtype: int64)

In [ ]:
print(df_card_region_diff_jeon[(df_card_region_diff_jeon['gb2'] == '체험') & (df_card_region_diff_jeon['v2'] == '전주')].count(), '\n')
print(df_card_region_diff_sae[df_card_region_diff_sae['gb2'] == '체험'].count(), '\n')
print(df_card_region_diff_chung[df_card_region_diff_chung['gb2'] == '체험'].count(), '\n')
print(df_card_region_diff_je[df_card_region_diff_je['gb2'] == '체험'].count(), '\n')

print(df_card_region_diff_gg[(df_card_region_diff_gg['gb2'] == '체험')].count(), '\n')
print(df_card_region_diff_gb[df_card_region_diff_gb['gb2'] == '체험'].count(), '\n')
print(df_card_region_diff_dg[df_card_region_diff_dg['gb2'] == '체험'].count(), '\n')
print(df_card_region_diff_su[df_card_region_diff_su['gb2'] == '체험'].count(), '\n')

v1                0
v2                0
v3                0
gb3               0
gb2               0
sex_ccd           0
cln_age_r         0
ta_ym             0
daw_ccd_r         0
apv_ts_dl_tm_r    0
vlm               0
usec              0
dtype: int64

v1                23533
v2                23533
v3                23533
gb3               23533
gb2               23533
sex_ccd           23533
cln_age_r         23533
ta_ym             23533
daw_ccd_r         23533
apv_ts_dl_tm_r    23533
vlm               23533
usec              23533
dtype: int64

v1                47721
v2                47721
v3                47721
gb3               47721
gb2               47721
sex_ccd           47721
cln_age_r         47721
ta_ym             47721
daw_ccd_r         47721
apv_ts_dl_tm_r    47721
vlm               47721
usec              47721
dtype: int64

v1                9890
v2                9890
v3                9890
gb3               9890
gb2               9890
sex_ccd           9890
cln_age_r         9890
ta_ym             9890
daw_ccd_r         9890
apv_ts_dl_tm_r    9890
vlm               9890
usec              9890
dtype: int64

v1                91890
v2                91890
v3                91890
gb3               91890
gb2               91890
sex_ccd           91890
cln_age_r         91890
ta_ym             91890
daw_ccd_r         91890
apv_ts_dl_tm_r    91890
vlm               91890
usec              91890
dtype: int64

v1                41945
v2                41945
v3                41945
gb3               41945
gb2               41945
sex_ccd           41945
cln_age_r         41945
ta_ym             41945
daw_ccd_r         41945
apv_ts_dl_tm_r    41945
vlm               41945
usec              41945
dtype: int64

v1                46327
v2                46327
v3                46327
gb3               46327
gb2               46327
sex_ccd           46327
cln_age_r         46327
ta_ym             46327
daw_ccd_r         46327
apv_ts_dl_tm_r    46327
vlm               46327
usec              46327
dtype: int64

v1                114276
v2                114276
v3                114276
gb3               114276
gb2               114276
sex_ccd           114276
cln_age_r         114276
ta_ym             114276
daw_ccd_r         114276
apv_ts_dl_tm_r    114276
vlm               114276
usec              114276
dtype: int64

In [ ]:
print('전남:', 16234/27302, '\n')
print('세종:', 1166/23533 , '\n')
print('충북:', 10337/47721, '\n')
print('제주:', 3297/9890 , '\n')

print('경기:', 47141/91890, '\n')
print('경북:', 20284/41945 , '\n')
print('대구:', 10956/46327, '\n')

전남: 0.5946084535931434

세종: 0.04954744401478774

충북: 0.21661323107227426

제주: 0.3333670374115268

경기: 0.5130155620851018

경북: 0.4835856478722136

대구: 0.2364927580028925

In [ ]:
print('전남', '\n', df_card_region_diff_jeon[df_card_region_diff_jeon['gb2'] == '체험'].value_counts('v2').nlargest(5), '\n')
print('세종', '\n', df_card_region_diff_sae[df_card_region_diff_sae['gb2'] == '체험'].value_counts('v2').nlargest(5), '\n')
print('충북', '\n', df_card_region_diff_chung[df_card_region_diff_chung['gb2'] == '체험'].value_counts('v2').nlargest(5), '\n')
print('제주', '\n', df_card_region_diff_je[df_card_region_diff_je['gb2'] == '체험'].value_counts('v2').nlargest(5), '\n')

전남
 v2
경남    4132
전북    4038
경기    3464
부산    2764
광주    2259
dtype: int64

세종
 v2
충남    5082
경기    2408
충북    2388
경북    1966
전남    1914
dtype: int64

충북
 v2
경기    8105
충남    7434
경북    5649
강원    4874
전남    4206
dtype: int64

제주
 v2
부산    1860
경기    1725
전남    1361
경북    1013
경남     794
dtype: int64

In [ ]:
print(df_card_region_same_gg.count(), '\n')
print(df_card_region_same_gb.count(), '\n')
print(df_card_region_same_dg.count(), '\n')

v1                155543
v2                155543
v3                155543
gb3               155543
gb2               155543
sex_ccd           155543
cln_age_r         155543
ta_ym             155543
daw_ccd_r         155543
apv_ts_dl_tm_r    155543
vlm               155543
usec              155543
dtype: int64

v1                69057
v2                69057
v3                69057
gb3               69057
gb2               69057
sex_ccd           69057
cln_age_r         69057
ta_ym             69057
daw_ccd_r         69057
apv_ts_dl_tm_r    69057
vlm               69057
usec              69057
dtype: int64

v1                35545
v2                35545
v3                35545
gb3               35545
gb2               35545
sex_ccd           35545
cln_age_r         35545
ta_ym             35545
daw_ccd_r         35545
apv_ts_dl_tm_r    35545
vlm               35545
usec              35545
dtype: int64

In [ ]:
print(df_card_region_diff_gg.count(), '\n')
print(df_card_region_diff_gb.count(), '\n')
print(df_card_region_diff_dg.count(), '\n')

v1                468180
v2                468180
v3                468180
gb3               468180
gb2               468180
sex_ccd           468180
cln_age_r         468180
ta_ym             468180
daw_ccd_r         468180
apv_ts_dl_tm_r    468180
vlm               468180
usec              468180
dtype: int64

v1                230873
v2                230873
v3                230873
gb3               230873
gb2               230873
sex_ccd           230873
cln_age_r         230873
ta_ym             230873
daw_ccd_r         230873
apv_ts_dl_tm_r    230873
vlm               230873
usec              230873
dtype: int64

v1                244561
v2                244561
v3                244561
gb3               244561
gb2               244561
sex_ccd           244561
cln_age_r         244561
ta_ym             244561
daw_ccd_r         244561
apv_ts_dl_tm_r    244561
vlm               244561
usec              244561
dtype: int64

In [ ]:
print('전남:', 62706/169559, '\n')
print('세종:', 3467/112422 , '\n')
print('충북:', 36829/255768, '\n')
print('제주:', 15105/85053 , '\n')

print('경기:', 155543/468180, '\n')
print('경북:', 69057/230873 , '\n')
print('대구:', 35545/244561, '\n')

전남: 0.3698181753843795

세종: 0.030839159595097046

충북: 0.14399377560914578

제주: 0.17759514655567704

경기: 0.3322290572002221

경북: 0.29911249907958054

대구: 0.1453420618986674

In [ ]:
print('전남', '\n', df_card_region_diff_jeon.value_counts('v2').nlargest(5), '\n')
print('세종', '\n',df_card_region_diff_sae.value_counts('v2').nlargest(5), '\n')
print('충북', '\n',df_card_region_diff_chung.value_counts('v2').nlargest(5), '\n')
print('제주', '\n',df_card_region_diff_je.value_counts('v2').nlargest(5), '\n')

전남
 v2
경기    25856
부산    19340
경남    17541
전북    17207
강원    14701
dtype: int64

세종
 v2
충남    15684
경기    13462
강원    11738
대전     9280
제주     9134
dtype: int64

충북
 v2
경기    44725
강원    34700
충남    26386
경북    24392
부산    19611
dtype: int64

제주
 v2
경기    14732
부산    14339
강원     8504
전남     7842
인천     6693
dtype: int64

In [ ]:
df_card_201801 = df_card[df_card['ta_ym'] == 201801] #달별 신한카드 결제 데이터, 업종이 더 세분화 되어 있거나 일별로 되어 있는 데이터..
df_card_201802 = df_card[df_card['ta_ym'] == 201802]
df_card_201803 = df_card[df_card['ta_ym'] == 201803]
df_card_201804 = df_card[df_card['ta_ym'] == 201804]
df_card_201805 = df_card[df_card['ta_ym'] == 201805]
df_card_201806 = df_card[df_card['ta_ym'] == 201806]
df_card_201807 = df_card[df_card['ta_ym'] == 201807]
df_card_201808 = df_card[df_card['ta_ym'] == 201808]
df_card_201809 = df_card[df_card['ta_ym'] == 201809]
df_card_201810 = df_card[df_card['ta_ym'] == 201810]
df_card_201811 = df_card[df_card['ta_ym'] == 201811]
df_card_201812 = df_card[df_card['ta_ym'] == 201812]

In [ ]:
df_card_202001 = df_card[df_card['ta_ym'] == 202001]
df_card_202002 = df_card[df_card['ta_ym'] == 202002]
df_card_202003 = df_card[df_card['ta_ym'] == 202003]
df_card_202004 = df_card[df_card['ta_ym'] == 202004]
df_card_202005 = df_card[df_card['ta_ym'] == 202005]
df_card_202006 = df_card[df_card['ta_ym'] == 202006]
df_card_202007 = df_card[df_card['ta_ym'] == 202007]
df_card_202008 = df_card[df_card['ta_ym'] == 202008]
df_card_202009 = df_card[df_card['ta_ym'] == 202009]
df_card_202010 = df_card[df_card['ta_ym'] == 202010]
df_card_202011 = df_card[df_card['ta_ym'] == 202011]
df_card_202012 = df_card[df_card['ta_ym'] == 202012]

In [ ]:
df_card_202001

,v1,v2,v3,gb3,gb2,sex_ccd,cln_age_r,ta_ym,daw_ccd_r,apv_ts_dl_tm_r,vlm,usec
20538037,대전,세종,.,여행,숙박,M,30,202001,RED,활동,510000,10
20538040,인천,세종,.,여행,체험,M,40,202001,RED,휴식,105060,5
20538049,부산,대구,남구,여행,체험,F,20,202001,RED,활동,267750,15
20538052,제주,부산,남구,여행,숙박,F,30,202001,RED,활동,168300,10
20538056,강원,울산,남구,여행,숙박,M,40,202001,RED,휴식,233580,5
...,...,...,...,...,...,...,...,...,...,...,...,...
21553400,대구,부산,해운대구,여행,체험,F,60,202001,WHITE,활동,550800,20
21553405,경북,부산,해운대구,여행,체험,M,30,202001,RED,활동,4818990,198
21553406,울산,부산,해운대구,여행,관광쇼핑,M,40,202001,RED,활동,6401571,35
21553412,울산,부산,해운대구,여행,교통,M,40,202001,WHITE,활동,2096100,51
21553420,대전,부산,해운대구,여행,교통,M,20,202001,RED,활동,265200,10

In [ ]:
df_card_202001_selected = pd.pivot_table(data = df_card_202001, values = ['vlm', 'usec'], 
                                         index = ['v2', 'v3', 'gb2'], 
                                         aggfunc = np.sum).reset_index()
df_card_202002_selected = pd.pivot_table(data = df_card_202002, values = ['vlm', 'usec'], 
                                         index = ['v2', 'v3', 'gb2'], 
                                         aggfunc = np.sum).reset_index()
df_card_202003_selected = pd.pivot_table(data = df_card_202003, values = ['vlm', 'usec'], 
                                         index = ['v2', 'v3', 'gb2'], 
                                         aggfunc = np.sum).reset_index()
df_card_202004_selected = pd.pivot_table(data = df_card_202004, values = ['vlm', 'usec'], 
                                         index = ['v2', 'v3', 'gb2'], 
                                         aggfunc = np.sum).reset_index()
df_card_202005_selected = pd.pivot_table(data = df_card_202005, values = ['vlm', 'usec'], 
                                         index = ['v2', 'v3', 'gb2'], 
                                         aggfunc = np.sum).reset_index()
df_card_202006_selected = pd.pivot_table(data = df_card_202006, values = ['vlm', 'usec'], 
                                         index = ['v2', 'v3', 'gb2'], 
                                         aggfunc = np.sum).reset_index()
df_card_202007_selected = pd.pivot_table(data = df_card_202007, values = ['vlm', 'usec'], 
                                         index = ['v2', 'v3', 'gb2'], 
                                         aggfunc = np.sum).reset_index()
df_card_202008_selected = pd.pivot_table(data = df_card_202008, values = ['vlm', 'usec'], 
                                         index = ['v2', 'v3', 'gb2'], 
                                         aggfunc = np.sum).reset_index()
df_card_202009_selected = pd.pivot_table(data = df_card_202009, values = ['vlm', 'usec'], 
                                         index = ['v2', 'v3', 'gb2'], 
                                         aggfunc = np.sum).reset_index()
df_card_202010_selected = pd.pivot_table(data = df_card_202010, values = ['vlm', 'usec'], 
                                         index = ['v2', 'v3', 'gb2'], 
                                         aggfunc = np.sum).reset_index()
df_card_202011_selected = pd.pivot_table(data = df_card_202011, values = ['vlm', 'usec'], 
                                         index = ['v2', 'v3', 'gb2'], 
                                         aggfunc = np.sum).reset_index()
df_card_202012_selected = pd.pivot_table(data = df_card_202012, values = ['vlm', 'usec'], 
                                         index = ['v2', 'v3', 'gb2'], 
                                         aggfunc = np.sum).reset_index()

In [ ]:
df_card_202001_selected

     v2   v3   gb2   usec         vlm
0    강원  강릉시  관광쇼핑   6241   141426825
1    강원  강릉시    교통    945    98893880
2    강원  강릉시    숙박  61260  4382071731
3    강원  강릉시   여행사     65    59251800
4    강원  강릉시    체험   8999   310920225
..   ..  ...   ...    ...         ...
843  충북  충주시  관광쇼핑    205     7756080
844  충북  충주시    교통     95    67406700
845  충북  충주시    숙박  26146  1254317414
846  충북  충주시   여행사     15    21344520
847  충북  충주시    체험   2339    56960880

[848 rows x 5 columns]

- 전체 평균에 대해서 축제의 전체 vlm이 어느 정도인가 비율 지수 구하기(merge 후 비율 칼럼 추가), vlm 달 수로 나눠야함
-

In [ ]:
all_list = [df_card_202001_selected, df_card_202002_selected, df_card_202003_selected, df_card_202004_selected, df_card_202005_selected, 
            df_card_202006_selected, df_card_202007_selected, df_card_202008_selected, df_card_202009_selected, df_card_202010_selected,
            df_card_202011_selected, df_card_202012_selected]

In [ ]:
df_card_2020_all = pd.concat(all_list)

In [ ]:
df_card_2020_all

     v2   v3   gb2   usec         vlm
0    강원  강릉시  관광쇼핑   6241   141426825
1    강원  강릉시    교통    945    98893880
2    강원  강릉시    숙박  61260  4382071731
3    강원  강릉시   여행사     65    59251800
4    강원  강릉시    체험   8999   310920225
..   ..  ...   ...    ...         ...
798  충북  충주시  관광쇼핑    260    23347590
799  충북  충주시    교통    105    22132319
800  충북  충주시    숙박  11724   583829416
801  충북  충주시   여행사     10     4834060
802  충북  충주시    체험   1912    44219385

[9896 rows x 5 columns]

In [ ]:
df_card_2020_all_sum = pd.pivot_table(data = df_card_2020_all, values = ['vlm', 'usec'], 
                                         index = ['v2', 'v3', 'gb2'], 
                                         aggfunc = np.sum).reset_index()

df_card_2020_all_mean = pd.pivot_table(data = df_card_2020_all, values = ['vlm', 'usec'], 
                                         index = ['v2', 'v3', 'gb2'], 
                                         aggfunc = np.mean).reset_index()

In [ ]:
df_card_2020_all_sum # 전체 평균 데이터

     v2   v3   gb2    usec          vlm
0    강원  강릉시  관광쇼핑   63812   1360509402
1    강원  강릉시    교통    5697   1360105395
2    강원  강릉시    숙박  721299  52302596824
3    강원  강릉시   여행사     119     93685865
4    강원  강릉시    체험  102369   2999185102
..   ..  ...   ...     ...          ...
943  충북  충주시  관광쇼핑    3744    395158820
944  충북  충주시    교통    1448    382109386
945  충북  충주시    숙박  191874  10220000687
946  충북  충주시   여행사      40     69551180
947  충북  충주시    체험   65101   1466247056

[948 rows x 5 columns]

In [ ]:
df_card_2020_all_mean

     v2   v3   gb2          usec           vlm
0    강원  강릉시  관광쇼핑   5317.666667  1.133758e+08
1    강원  강릉시    교통    474.750000  1.133421e+08
2    강원  강릉시    숙박  60108.250000  4.358550e+09
3    강원  강릉시   여행사     14.875000  1.171073e+07
4    강원  강릉시    체험   8530.750000  2.499321e+08
..   ..  ...   ...           ...           ...
943  충북  충주시  관광쇼핑    312.000000  3.292990e+07
944  충북  충주시    교통    120.666667  3.184245e+07
945  충북  충주시    숙박  15989.500000  8.516667e+08
946  충북  충주시   여행사     10.000000  1.738780e+07
947  충북  충주시    체험   5425.083333  1.221873e+08

[948 rows x 5 columns]

In [ ]:
df_card_202010_vlm = df_card_202010_selected[['v3', 'gb2', 'vlm']]

In [ ]:
df_card_202010_vlm.rename(columns = {'vlm' : '202010_vlm'}, inplace = True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:5047: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [ ]:
df_card_202010_vlm

      v3   gb2  202010_vlm
0    강릉시  관광쇼핑   139975276
1    강릉시    교통    49574751
2    강릉시    숙박  4399341814
3    강릉시    체험   311147222
4    고성군  관광쇼핑    42051784
..   ...   ...         ...
841  청주시    체험   140492296
842  충주시  관광쇼핑    41364683
843  충주시    교통    22573425
844  충주시    숙박  1056710588
845  충주시    체험   221281907

[846 rows x 3 columns]

In [ ]:
df_merge = pd.merge(df_card_2020_all_mean, df_card_202010_vlm, how='right', left_on=['v3', 'gb2'], right_on=['v3', 'gb2'])
df_merge

      v2   v3   gb2          usec           vlm  202010_vlm
0     강원  강릉시  관광쇼핑   5317.666667  1.133758e+08   139975276
1     강원  강릉시    교통    474.750000  1.133421e+08    49574751
2     강원  강릉시    숙박  60108.250000  4.358550e+09  4399341814
3     강원  강릉시    체험   8530.750000  2.499321e+08   311147222
4     강원  고성군  관광쇼핑   1108.416667  2.635556e+07    42051784
...   ..  ...   ...           ...           ...         ...
1263  충북  청주시    체험   5962.250000  1.620645e+08   140492296
1264  충북  충주시  관광쇼핑    312.000000  3.292990e+07    41364683
1265  충북  충주시    교통    120.666667  3.184245e+07    22573425
1266  충북  충주시    숙박  15989.500000  8.516667e+08  1056710588
1267  충북  충주시    체험   5425.083333  1.221873e+08   221281907

[1268 rows x 6 columns]

In [ ]:
df_merge['ratio'] = df_merge['202010_vlm'] / df_merge['vlm']

In [ ]:
df_merge

      v2   v3   gb2          usec           vlm  202010_vlm     ratio
0     강원  강릉시  관광쇼핑   5317.666667  1.133758e+08   139975276  1.234614
1     강원  강릉시    교통    474.750000  1.133421e+08    49574751  0.437390
2     강원  강릉시    숙박  60108.250000  4.358550e+09  4399341814  1.009359
3     강원  강릉시    체험   8530.750000  2.499321e+08   311147222  1.244927
4     강원  고성군  관광쇼핑   1108.416667  2.635556e+07    42051784  1.595556
...   ..  ...   ...           ...           ...         ...       ...
1263  충북  청주시    체험   5962.250000  1.620645e+08   140492296  0.866891
1264  충북  충주시  관광쇼핑    312.000000  3.292990e+07    41364683  1.256144
1265  충북  충주시    교통    120.666667  3.184245e+07    22573425  0.708910
1266  충북  충주시    숙박  15989.500000  8.516667e+08  1056710588  1.240756
1267  충북  충주시    체험   5425.083333  1.221873e+08   221281907  1.811006

[1268 rows x 7 columns]

In [ ]:
df_merge.to_csv('/content/drive/MyDrive/KHUDA/컨퍼런스/KHUDA_conference/merge.csv',index=False, encoding="utf-8-sig")

문제.
1. 신한카드 데이터와 축제 출입량 데이터의 날짜 조정 문제
2. 10월 중 데이터면 저렇게 분석하는 것이 타당한가?
3. 데이터가 결과 소비 데이터가 감소한 것

추가 분석
1. gb2
2. cln_age_r
3. 서울
4. 계절성
5. 취침
6. 유의미한 구, 무의미한 구 성별 연령대 비율 cosine similarity 타겟으로 하는 비슷한 업종

In [ ]:
#축제 기간 데이터는 일별로 정산이 되기 때문에 그 부분을 고려해주어야함